In [1]:
import pandas as pd

In [2]:
dates = pd.date_range('20190301', periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
import numpy as np
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2019-03-01 -1.065280 -1.453852  0.167021 -0.363929
2019-03-02  0.515064 -0.593003 -0.315707 -0.000331
2019-03-03 -1.225853 -2.253466  0.122340  1.115167
2019-03-04  0.575608 -1.026387 -0.976312  0.064135
2019-03-05  0.839982 -1.072170 -0.721574  0.380398
2019-03-06 -0.555499 -0.119381  1.165367 -1.258338

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
df.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.values

array([[-1.06528013e+00, -1.45385173e+00,  1.67021461e-01,
        -3.63928525e-01],
       [ 5.15063550e-01, -5.93003200e-01, -3.15706737e-01,
        -3.31070262e-04],
       [-1.22585287e+00, -2.25346629e+00,  1.22339753e-01,
         1.11516711e+00],
       [ 5.75607867e-01, -1.02638662e+00, -9.76311552e-01,
         6.41349861e-02],
       [ 8.39982149e-01, -1.07217041e+00, -7.21573694e-01,
         3.80398025e-01],
       [-5.55498718e-01, -1.19381385e-01,  1.16536700e+00,
        -1.25833784e+00]])

In [8]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.152663 -1.086377 -0.093144 -0.010483
std    0.906473  0.732043  0.764515  0.788367
min   -1.225853 -2.253466 -0.976312 -1.258338
25%   -0.937835 -1.358431 -0.620107 -0.273029
50%   -0.020218 -1.049279 -0.096683  0.031902
75%    0.560472 -0.701349  0.155851  0.301332
max    0.839982 -0.119381  1.165367  1.115167

In [9]:
df.sort_values(by='A')

                   A         B         C         D
2019-03-03 -1.225853 -2.253466  0.122340  1.115167
2019-03-01 -1.065280 -1.453852  0.167021 -0.363929
2019-03-06 -0.555499 -0.119381  1.165367 -1.258338
2019-03-02  0.515064 -0.593003 -0.315707 -0.000331
2019-03-04  0.575608 -1.026387 -0.976312  0.064135
2019-03-05  0.839982 -1.072170 -0.721574  0.380398

In [10]:
df.sort_values(by='A', ascending=False)

                   A         B         C         D
2019-03-05  0.839982 -1.072170 -0.721574  0.380398
2019-03-04  0.575608 -1.026387 -0.976312  0.064135
2019-03-02  0.515064 -0.593003 -0.315707 -0.000331
2019-03-06 -0.555499 -0.119381  1.165367 -1.258338
2019-03-01 -1.065280 -1.453852  0.167021 -0.363929
2019-03-03 -1.225853 -2.253466  0.122340  1.115167

In [11]:
df['A']

2019-03-01   -1.065280
2019-03-02    0.515064
2019-03-03   -1.225853
2019-03-04    0.575608
2019-03-05    0.839982
2019-03-06   -0.555499
Freq: D, Name: A, dtype: float64

In [12]:
type(df['A'])

pandas.core.series.Series

In [13]:
df[0:3]

                   A         B         C         D
2019-03-01 -1.065280 -1.453852  0.167021 -0.363929
2019-03-02  0.515064 -0.593003 -0.315707 -0.000331
2019-03-03 -1.225853 -2.253466  0.122340  1.115167

In [14]:
df.loc['2019-03-01']

A   -1.065280
B   -1.453852
C    0.167021
D   -0.363929
Name: 2019-03-01 00:00:00, dtype: float64

In [15]:
df.loc['2019-03-01', ['A']]

A   -1.06528
Name: 2019-03-01 00:00:00, dtype: float64

In [16]:
df.loc['2019-03-01', ['A', 'B']]

A   -1.065280
B   -1.453852
Name: 2019-03-01 00:00:00, dtype: float64

In [17]:
df.loc['2019-03-01':'2019-03-02', ['A', 'B']]

                   A         B
2019-03-01 -1.065280 -1.453852
2019-03-02  0.515064 -0.593003

In [18]:
df.loc[:, ['A', 'B']]

                   A         B
2019-03-01 -1.065280 -1.453852
2019-03-02  0.515064 -0.593003
2019-03-03 -1.225853 -2.253466
2019-03-04  0.575608 -1.026387
2019-03-05  0.839982 -1.072170
2019-03-06 -0.555499 -0.119381

In [19]:
df.iloc[0:2]

                   A         B         C         D
2019-03-01 -1.065280 -1.453852  0.167021 -0.363929
2019-03-02  0.515064 -0.593003 -0.315707 -0.000331

In [20]:
df.iloc[0:2, 0:2]

                   A         B
2019-03-01 -1.065280 -1.453852
2019-03-02  0.515064 -0.593003

In [21]:
df.iloc[[0, 1, 3], 0:2]

                   A         B
2019-03-01 -1.065280 -1.453852
2019-03-02  0.515064 -0.593003
2019-03-04  0.575608 -1.026387

In [22]:
df.iloc[[0, 1, 3]]

                   A         B         C         D
2019-03-01 -1.065280 -1.453852  0.167021 -0.363929
2019-03-02  0.515064 -0.593003 -0.315707 -0.000331
2019-03-04  0.575608 -1.026387 -0.976312  0.064135

In [23]:
df['A'] > 0

2019-03-01    False
2019-03-02     True
2019-03-03    False
2019-03-04     True
2019-03-05     True
2019-03-06    False
Freq: D, Name: A, dtype: bool

In [24]:
df[df['A'] > 0]

                   A         B         C         D
2019-03-02  0.515064 -0.593003 -0.315707 -0.000331
2019-03-04  0.575608 -1.026387 -0.976312  0.064135
2019-03-05  0.839982 -1.072170 -0.721574  0.380398

In [25]:
df > 0

                A      B      C      D
2019-03-01  False  False   True  False
2019-03-02   True  False  False  False
2019-03-03  False  False   True   True
2019-03-04   True  False  False   True
2019-03-05   True  False  False   True
2019-03-06  False  False   True  False

In [26]:
df[df > 0]

                   A   B         C         D
2019-03-01       NaN NaN  0.167021       NaN
2019-03-02  0.515064 NaN       NaN       NaN
2019-03-03       NaN NaN  0.122340  1.115167
2019-03-04  0.575608 NaN       NaN  0.064135
2019-03-05  0.839982 NaN       NaN  0.380398
2019-03-06       NaN NaN  1.165367       NaN

In [27]:
df2 = pd.DataFrame(df, columns=['A', 'C', 'D', 'B'])
df2

                   A         C         D         B
2019-03-01 -1.065280  0.167021 -0.363929 -1.453852
2019-03-02  0.515064 -0.315707 -0.000331 -0.593003
2019-03-03 -1.225853  0.122340  1.115167 -2.253466
2019-03-04  0.575608 -0.976312  0.064135 -1.026387
2019-03-05  0.839982 -0.721574  0.380398 -1.072170
2019-03-06 -0.555499  1.165367 -1.258338 -0.119381

In [28]:
df['E'] = np.nan
df

                   A         B         C         D   E
2019-03-01 -1.065280 -1.453852  0.167021 -0.363929 NaN
2019-03-02  0.515064 -0.593003 -0.315707 -0.000331 NaN
2019-03-03 -1.225853 -2.253466  0.122340  1.115167 NaN
2019-03-04  0.575608 -1.026387 -0.976312  0.064135 NaN
2019-03-05  0.839982 -1.072170 -0.721574  0.380398 NaN
2019-03-06 -0.555499 -0.119381  1.165367 -1.258338 NaN

In [29]:
df.loc['2019-03-02', ['E']] = 2
df

                   A         B         C         D    E
2019-03-01 -1.065280 -1.453852  0.167021 -0.363929  NaN
2019-03-02  0.515064 -0.593003 -0.315707 -0.000331  2.0
2019-03-03 -1.225853 -2.253466  0.122340  1.115167  NaN
2019-03-04  0.575608 -1.026387 -0.976312  0.064135  NaN
2019-03-05  0.839982 -1.072170 -0.721574  0.380398  NaN
2019-03-06 -0.555499 -0.119381  1.165367 -1.258338  NaN

In [30]:
df['F'] = df['A'] + df['B']
df

                   A         B         C         D    E         F
2019-03-01 -1.065280 -1.453852  0.167021 -0.363929  NaN -2.519132
2019-03-02  0.515064 -0.593003 -0.315707 -0.000331  2.0 -0.077940
2019-03-03 -1.225853 -2.253466  0.122340  1.115167  NaN -3.479319
2019-03-04  0.575608 -1.026387 -0.976312  0.064135  NaN -0.450779
2019-03-05  0.839982 -1.072170 -0.721574  0.380398  NaN -0.232188
2019-03-06 -0.555499 -0.119381  1.165367 -1.258338  NaN -0.674880

In [36]:
pd.read_csv('data/teenage_mental.txt', sep='\t')

,기간,구분,스트레스 인지율,스트레스 인지율.1,스트레스 인지율.2,우울감 경험률,우울감 경험률.1,우울감 경험률.2,자살 생각률,자살 생각률.1,자살 생각률.2
0,기간,구분,전체,남학생,여학생,전체,남학생,여학생,전체,남학생,여학생
1,2019,구분,41.6,34,49.7,29.5,24.5,34.8,14.2,10.8,17.9

In [37]:
pd.read_csv('data/teenage_mental.txt', sep='\t', header=1)

     기간  구분    전체  남학생   여학생  전체.1  남학생.1  여학생.1  전체.2  남학생.2  여학생.2
0  2019  구분  41.6   34  49.7  29.5   24.5   34.8  14.2   10.8   17.9

In [45]:
pd.read_csv('data/teenage_mental.txt', sep='\t', header=1, usecols=[2, 3, 4, 5, 6, 7, 8, 9, 10])

     전체  남학생   여학생  전체.1  남학생.1  여학생.1  전체.2  남학생.2  여학생.2
0  41.6   34  49.7  29.5   24.5   34.8  14.2   10.8   17.9

In [46]:
col_names = ['스트레스', '스트레스남학생', '스트레스여학생', '우울감경험률', '우울남학생', '우울여학생', '자살생각율', '자살남학생', '자살여학생']
pd.read_csv('data/teenage_mental.txt', sep='\t', header=1, usecols=[2, 3, 4, 5, 6, 7, 8, 9, 10], names=col_names)

   스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
0  41.6       34     49.7    29.5   24.5   34.8   14.2   10.8   17.9

In [47]:
raw_data = pd.read_csv('data/teenage_mental.txt', sep='\t', header=1, usecols=[2, 3, 4, 5, 6, 7, 8, 9, 10], names=col_names)
raw_data

   스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
0  41.6       34     49.7    29.5   24.5   34.8   14.2   10.8   17.9

In [49]:
raw_data.loc[1] = 100. - raw_data.loc[0]
raw_data

   스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
0  41.6     34.0     49.7    29.5   24.5   34.8   14.2   10.8   17.9
1  58.4     66.0     50.3    70.5   75.5   65.2   85.8   89.2   82.1

In [50]:
raw_data['응답'] = ['그렇다', '아니다']
raw_data

   스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생   응답
0  41.6     34.0     49.7    29.5   24.5   34.8   14.2   10.8   17.9  그렇다
1  58.4     66.0     50.3    70.5   75.5   65.2   85.8   89.2   82.1  아니다

In [51]:
raw_data.set_index('응답', drop=True, inplace=True)
raw_data

     스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
응답
그렇다  41.6     34.0     49.7    29.5   24.5   34.8   14.2   10.8   17.9
아니다  58.4     66.0     50.3    70.5   75.5   65.2   85.8   89.2   82.1